@model List<SocialNetwork.WebUI.Entities.CustomIdentityUser>
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>@ViewBag.User.UserName</h2>
    <img src="/images/@ViewBag.User.ImageUrl" style="border-radius:50%;width:50px;height:50px;" />
</div>
    <div class="container">
        <div class="row">&nbsp;</div>
       
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

@foreach(var user in Model)
{
    <div class="card" style="width: 18rem;">
       
  <img class="card-img-top" src="~/images/@user.ImageUrl" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">@user.UserName</h5>
    <p class="card-text">@user.Email</p>
    <a href="/home/FindCurrentUser/@user.Id" class="btn btn-primary">Send</a>
  </div>
</div>
}
